@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font-family: "Quicksand", system-ui;
}

header, footer {
    background: #292828;
}

header img {
    height: 10vh;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio,
footer h3,
footer a  {
    color: #be9260;
}

.nav-link.active:hover,
.nav-link:hover {
    background-color: #be926070;
    color: #292828;
}

.navbar-toggler {
    background-color: #be9260;
}

.carousel-item {
    height: 70vh;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgb(31, 31, 31));
    position: absolute;
}

#about img {
    height: 100%;
}

#cardapio img {
    height: 15vw;
    object-fit: cover;
}

.row {
    row-gap: 1rem;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
    color: #292828;
}

#fale-conosco,
#eventos {
    background-color: #7c6c6c50;
}


.btn {
    --bs-btn-bg: #be9260;
    --bs-btn-border-color: #be9260;
    --bs-btn-hover-bg: #c1843e;
    --bs-btn-hover-border-color: #be9260;
    --bs-btn-active-bg: #c1843e;
    --bs-btn-active-border-color:#c1843e;
    }


.nav-pills .nav-link.active {
    background-color: #be9260;
}

@media screen and (max-width: 1200px) { 
    .col-md-3 {
        width: 33% !important;
    }
}

@media screen and (max-width: 992px) {
    .col-md-3 {
        width: 50% !important;
    }

    .col-md-2 {
        width: 100% !important;
    }

    .col-md-10 {
        width: 100% !important;
    }

    #cardapio img {
        height: 26vw;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .col-md-3 {
        width: 100% !important;
    }

    #cardapio img {
        height: 50vw;
        object-fit: cover;
    }
}